<p id="notice"><%= notice %></p>

<h1>Listing Clips</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Start</th>
      <th>End</th>
      <th>Position</th>
      <th>Board</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clips.each do |clip| %>
      <tr>
        <td><%= clip.title %></td>
        <td><%= clip.url %></td>
        <td><%= clip.start %></td>
        <td><%= clip.end %></td>
        <td><%= clip.position %></td>
        <td><%= clip.board_id %></td>
        <td><%= link_to 'Show', clip %></td>
        <td><%= link_to 'Edit', edit_clip_path(clip) %></td>
        <td><%= link_to 'Destroy', clip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clip', new_clip_path %>
